$order-bg-color: #171a29;

.combined-order-state-wrapper{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;

	.combined-order-state-header{
		background-color: $order-bg-color;
		color: white;
		height: 50px;
		line-height: 50px;
    	padding: 0 20px;
	}

	.combined-order-state-body{
		background: white;
	}

	.order-status-name{
		display: inline-block;
		float: left;
	}

	.order-status-count{
		display: inline-block;
		float: right;
	}
}
