$brand-color: #fc8019;
$black: #000;

.header {
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .nav-bar {
    text-align: center;
  }

  .router-link {
    display: inline-flex;
    padding: 0.25em 2em;
    margin: 1em;
    text-decoration: none;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #41ADDD;
    color: #41ADDD;

    &:active {
      background: #41ADDD;
      color: #FFF;
    }
  }

  .header-bar{
    background-color: white;
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 1px 0 0 rgba(0,0,0,.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .header-text{
      line-height: 50px;
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      padding-left: 5%;
    }

    .app-icon{
      height: 30px;
      color: $brand-color;
    }

    .burger-menu:before, .burger-menu:after, .burger-menu{
        position: relative;
        width: 21px;
        height: 2px;
        background: $black;
        display: inline-block;
        float: right;
        top: 24px;
        right: 15px;
    }

    .burger-menu:before, .burger-menu:after{
      content: "";
      position: absolute;
      left: 0;
    }

    .burger-menu:before{
      top: -5px;
    }

    .burger-menu:after{
      top: 5px;
    }
  }

  .sideMenuIcon{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
  }

  .header-bard-inner{
    display: flex;
    justify-content: space-between;
  }

  .menu-wrapp{
    padding: 0 10px;
  }

}