.order-status-page{
	padding: 0 20px;
    max-height: 300px;
    overflow: scroll;

    .Toastify {
    	.Toastify__toast.Toastify__toast--error, .Toastify__toast.Toastify__toast--success{
	    	margin-top: 50px !important;
    	}

    }
	.group-order-status-item{
		padding: 10px;
	    display: flex;
    	justify-content: space-between;
		
		.group-order-item-name{
			font-weight: 600;
		}

		.group-order-item-count{
			text-align: right;
		}
	}

	.group-order-item-details{
		padding: 0 20px;
	}

	.checkout-button{
	    background: #09c88f;
	    color: white;
	    padding: 10px 15px;
	    border-radius: 5px;
	}

	.checkout-btn-div{
	    display: flex;
	    justify-content: flex-end;
	    padding: 10px;
	}
}