html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif
}

body.fontLoaded {
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  line-height: 1.5em;
}