$text-color: #464646;

.side-menu{
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 0;
	display: flex;
	flex-direction: column;
	z-index: 10;
	transition: width .5s ease-in;

	&.open{
		width: 70%;
    	max-width: 400px;
	}

	.menu-item{
	    width: 100%;
    	padding: 5px 15px;
    	text-align: left;
    	text-decoration: none;
    	color: $text-color;
	}
}

.side-menu-overlay{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
}