.friend-selector-wrapper {
  position: fixed;
  right: 10%;
  bottom: 10%;
  height: 58px;
  width: 200px;
  background: white;
  border-radius: 30px;
  border: 1px solid #3f51b5;
  
  .fs-text{
    padding-left: 10px;
    font-size: 18px;
  }
}

.friend-selector-modal{

  .modal-title{
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ebebeb;

    span{
      float: right;
      padding: 0 10px;
    }
  }

  .send-invite-btn{
    background: #09c88f;
    color: white;
    padding: 10px 15px;
    position: absolute;
    bottom: 20px;
    left: 140px;
  }

  .select-wrapper{
    margin: 10px;
  }

}