.animation-page{
  display: flex;
  justify-content: center;
  height: 500px;
  
  .textDiv{
    border: 1px solid gray;
    height: 150px;
    width: 200px;
    position: absolute;
    top: 300px;
    font-size: 24px;
  }

  .submitFeedbackBtn{
    height: 50px;
    width: 200px;
    position: absolute;
    top: 470px;
    background-color: #09c88f;
    color: white;
    border: none;
    border-radius: 8px;
  }


  .test{
    overflow: visible;
    position: absolute;
    left: 125px;
    top: -50px;

    @media only screen and (max-width: 420px){
     left: -56vw;
    }

    @media only screen and (min-width: 421px) and (max-width: 766px){
     left: -20vw;
    }

    @media only screen and (min-width: 767px) and (max-width: 1023px){
     left: 1vw;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1199px){
     left: 6vw;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1365px){
     left: 12.5vw;
    }

    @media only screen and (min-width: 1365px) and (max-width: 1919px){
     left: 17vw;
    }

    @media only screen and (min-width: 1920px) {
     left: 27vw;
    }
  }

  .key-anim1, .key-anim2, .key-anim3, .key-anim4{
  -webkit-animation: DrawpathRect 2s linear  forwards;
  animation: DrawpathRect 2s linear forwards;
  stroke-dasharray: 0,100;
}

@-webkit-keyframes DrawpathRect {
  from {
    stroke-dasharray: 0,300;
  }
  to {
    stroke-dasharray: 300,300;
  }
}
@keyframes DrawpathRect {
  from {
    stroke-dasharray: 0,300;
  }
  to {
    stroke-dasharray: 300,300;
  }
}

.key-anim5, .key-anim7, .key-anim9, .key-anim11{
  -webkit-animation: DrawpathDM 1.5s linear forwards;
  animation: DrawpathDM 2s linear  forwards;
  stroke-dasharray: 0,300;
}

.key-anim6, .key-anim8, .key-anim10, .key-anim12{
  -webkit-animation: DrawpathDM 1.5s linear 1,.5s forwards;
  animation: DrawpathDM 1.5s linear 1.5s forwards;
  stroke-dasharray: 0,300;
}

@-webkit-keyframes DrawpathDM {
  from {
    stroke-dasharray: 0,300;
  }
  to {
    stroke-dasharray: 300,300;
  }
}
@keyframes DrawpathDM {
  from {
    stroke-dasharray: 0,300;
  }
  to {
    stroke-dasharray: 300,300;
  }
}

.key-anim13, .key-anim14, .key-anim15, .key-anim16{
  -webkit-animation: DrawpathArc 2s linear forwards;
  animation: DrawpathArc 2s linear forwards;
  stroke-dasharray: 300,500;
}

@-webkit-keyframes DrawpathArc {
  from {
    stroke-dasharray: 0,450;
  }
  to {
    stroke-dasharray: 450,450;
  }
}
@keyframes DrawpathArc {
  from {
    stroke-dasharray: 0,450;
  }
  to {
    stroke-dasharray: 450,450;
  }
}

}


