$border-color: #ebebeb;
$text-color: #464646;
$background-color: #fafafa;
$bg-color: #fff;
$selected-border: #09cb8f;
$button-color: #09c88f;

.menu-item-card {
  text-align: center;
  padding: 10px;
  background: white;
  border: 1px solid $border-color;
  margin: 8px;
  height: 265px;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 0 0 rgba(0, 0, 0, 0.12);
  width: 280px;
  display: inline-block;
  float: left;
  

  &.selected{
    border-color: $selected-border;
  }

  &:hover{
    transform: scale(1);
  }


  .card-image > img{
    height: 150px;
  }
  
  .card-title{
      font-weight: 600;
      font-size: 1rem;
      padding: 10px;
      width: 250px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }

  .card-subtitle > p{
      margin: 0;
      text-align: left;
      font-size: 16px;
      color: #777;
      position: absolute;
      left: 160px;
      top: 35px;
  }
  
  .footer-wrapper{
    border-top: 1px solid #eee;
    padding: 10px;
    height: 50px;
  }
  
  .card-delivery{
    display: inline-block;
    float: right;
    padding-right: 5%; 
  }
  
  .card-price{
    display: inline-block;
    float: left;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .menu-add-button-empty{
    display: inline-block;
    /* border: 1px solid #09c88f; */
    border-radius: 10px;
    padding: 0px 30px;
    line-height: 30px;
    background: $button-color;
    color: white;
    float: right;
  }

  .menu-add-button{
    display: inline-block;
    border: 1px solid $button-color;
    border-radius: 120px;
    float: right;

    .cart-count{
      width: 30px;
      padding: 5px 10px;
      background: $button-color;
      color: white;
    }

    .subtract, .add{
      padding: 5px 12px;
      outline: none;
      cursor: pointer;

      &:hover{
        color: $button-color;
        transform: scale(1.1);
      }
    }
  }

  .card-order-status{
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
  }
}
