.detail-page {
  margin-top: 60px;

  h1 {
    font-size: 1.25em;
    margin-bottom: 0.25em;
    margin-left: 3%;
  }
  .detail-page-body{
  	@media only screen and (max-width: 420px){
   	 	// display: inline-block;
    	// width: 31%;
	    display: flex;
	    flex-direction: column;
	    align-items: center
  	}

  	margin: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}