$border-color: #ddd;
$button-color: #09c88f;
.home-page {
  margin-top: 60px;

  .logged-out-case{
    display: flex;
    justify-content: center;

    .user-name{
      padding: 10px;
      border: 1px solid $border-color;
      outline: none;
    }

    .submit-button{
      background: $button-color;
      color: white;
      padding: 10px 15px;
      border-radius: 10px;
      margin-left: 2%;
    }
  }

  .search-button, .signout-button{
      background: $button-color;
      color: white;
      padding: 10px 15px;
      border-radius: 10px;
      margin-top: 20px; 
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}
