$border-color: #ebebeb;
$text-color: #464646;
$background-color: #fafafa;
$bg-color: #fff;
$selected-border: #09cb8f;

.Card {
  text-align: center;
  padding: 10px;
  background: white;
  border: 1px solid $border-color;
  margin: 8px;
  height: 150px;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 0 0 rgba(0, 0, 0, 0.12);
  

  &.selected{
    border-color: $selected-border;
    border-width: 2px;
    transform: scale(1.05);

    img{
      height: 146px;
    }
  }

  &:hover{
    transform: scale(1.05);
  }

  @media only screen and (min-width: 850px){
    display: inline-block;
    width: 48%;
  }
  

  .CardImage > img{
    position: absolute;
    left: 0;
    top: 0; 
  }
  
  .CardTitle{
      font-weight: 600;
      font-size: 1rem;
      text-align: left;
      position: absolute;
      left: 160px;
  }

  .CardSubtitle > p{
      margin: 0;
      text-align: left;
      font-size: 16px;
      color: #777;
      position: absolute;
      left: 160px;
      top: 35px;
  }
  
  .FooterWrapper{
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    left: 160px;
    right: 0;
    padding: 10px;
  }
  
  .CardDelivery{
    display: inline-block;
    float: right;
    padding-right: 5%; 
  }
  
  .CardRating{
    display: inline-block;
    float: left;
    background: #009587;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
  }
}
