$border-color: #ebebeb;
$text-color: #464646;
$background-color: #fafafa;
$bg-color: #fff;

.list-page{
    max-width: 95vw;
    margin: 0 auto;
    margin-top: 60px;
    
  .search-bar{
  	background: white;
    border: 1px solid $border-color;
    margin: 0 1%;
    font-size: 18px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 0 0 rgba(0, 0, 0, 0.12);

   	input{
   		outline: none;
	    width: 100%;
	    height: 50px;
	    padding: 15px;
   	}
  }
}


