.app-wrapper {
  // max-width: calc(80vw + 16px * 2);
  // margin: 0 auto;
  display: flex;
  min-height: 100%;
  // padding: 0 16px;
  flex-direction: column;
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
}

.hide{
	display: none !important;
}