.checkout-page {
  margin-top: 60px;
  
  h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
  }
  
  ul {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-left: 1.75em;

    li {
      margin: 1em 0;

      p.title {
        font-weight: bold;
      }
    }
  }
}